$font-size-small: 10px;
$font-size-medium: 13px;
$font-size-large: 16px;

$line-height-small: 10px;
$line-height-medium: 13px;
$line-height-large: 16px;

$primary-color: #2d66f5;
$secondary-color: #f7f9f8;
$text-color: #6f6f6f;
$negative-color: #e10033;
